/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}



section {
  display: flex;
  justify-content: center;
}



h1 {
  font-family: "Robot Slab", sans-serif;
  color: rgb(255, 255, 255);
}

h2{
  font-family: "Robot Slab", sans-serif;
  color: rgb(255, 255, 255);
  
  
}

h3 {
  font-family: "Roboto Slab", sans-serif;
  color: rgb(255, 248, 60);
}
/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 50%
}

body{
  text-align: center;
  background-image: url("NASA_logo.svg.png");
  background-size: 750px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: blueviolet;
  
}



@media only screen and (min-width: 200px) and (max-width: 767px)  {
 
 
  }



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
