/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

section {
  display: flex;
  justify-content: center;
}

h1 {
  height: 200px;
  width: 200px;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 50%
}

body{
  text-align: center;
  background-color: rgb(228, 236, 233);
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
