/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

h1 {
  font-family: "Robot Slab", sans-serif;
  color: rgb(255, 248, 60);
}


h2{
  font-family: "Robot Slab", sans-serif;
  color: rgb(255, 248, 60);
  background-color: blueviolet;
  margin-left: 30%;
  margin-right: 30%;
}

h3 {
  font-family: "Roboto Slab", sans-serif;
  color: rgb(255, 245, 60);
  background-color: blueviolet;
}
/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 50%
}

body{
  text-align: center;
  background-image: url("NASA_logo.svg.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: blueviolet;
  
}



@media only screen and (min-width: 200px) and (max-width: 896px)  {
 
 
  }



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
